/* -------------------------- NAVIGATION BAR STARTS ------------------------------- */

.nav-bar{
    z-index: 9999;
    height: 70px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    padding: 5px;
}

.nav-bar .logo{
    position: absolute;
    width: 35px;
    height: 25px;
    left: 5px;
    top: 10px;
}

.nav-bar .logo-bg{
    position: absolute;
    border-radius: 50%;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    left: 10px;
    top: 20px;
}
.nav-bar .logo-bg:hover{
 cursor: pointer;
 background-color: rgb(238, 238, 238);
}



.nav-bar .home{
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding: 12px 16px;
    position: absolute;
    top: 17px;
    left: 60px;
    border-radius: 25px;
    font-family: Poppins;
    font-weight: bold;
}

.nav-bar .following{
    background-color: white;
    color: rgb(78, 78, 78);
    text-decoration: none;
    padding: 12px 16px;
    position: absolute;
    top: 17px;
    left: 143px;
    border-radius: 25px;
    font-family: Poppins;
    font-weight: bold;
}

.nav-bar .following:hover{
    background-color: rgb(235, 235, 235);
}

.nav-bar input{
    padding: 15px;
    position: absolute;
    top: 10px;
    left: 260px;
    width: 72%;
    border-radius: 40px;
    border: 4px solid white;
    background-color: rgb(233, 233, 233);
    font-family: Poppins;
    color: rgb(153, 153, 153);
    outline: rgb(56, 187, 248);
    font-size: 15px;

}

.nav-bar input:hover{
    background-color: rgb(221, 221, 221);
}

.nav-bar input:focus{
    border-radius: 40px;
    border-color:rgb(56, 187, 248);
}

.nav-bar .bell{
    position: absolute;
    color: rgb(133, 133, 133);
    width: 35px;
    height: 25px;
    right: 5px;
    top: 10px;
}

.nav-bar .bell-bg{
    position: absolute;
    border-radius: 50%;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    right: 170px;
    top: 17px;
}
.nav-bar .bell-bg:hover{
 cursor: pointer;
 background-color: rgb(238, 238, 238);
}


.nav-bar .message{
    position: absolute;
    color: rgb(133, 133, 133);
    width: 35px;
    height: 25px;
    right: 5px;
    top: 10px;
}

.nav-bar .message-bg{
    position: absolute;
    border-radius: 50%;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    right: 125px;
    top: 17px;
}
.nav-bar .message-bg:hover{
 cursor: pointer;
 background-color: rgb(238, 238, 238);
}

.nav-bar .profile{
    position: absolute;
    width: 35px;
    height: 30px;
    right: 5px;
    top: 10px;
}

.nav-bar .profile-bg{
    position: absolute;
    border-radius: 50%;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    right: 80px;
    top: 17px;
}
.nav-bar .profile-bg:hover{
 cursor: pointer;
 background-color: rgb(238, 238, 238);
}


.nav-bar .arrow{
    position: absolute;
    color: rgb(133, 133, 133);
    width: 20px;
    height: 15px;
    right: 2.5px;
    top: 7.5px;
}

.nav-bar .arrow-bg{
    position: absolute;
    border-radius: 50%;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    right: 50px;
    top: 27px;
}
.nav-bar .arrow-bg:hover{
 cursor: pointer;
 background-color: rgb(238, 238, 238);
}



/* -------------------------- NAVIGATION BAR ENDS------------------------------- */


/* -------------------------- BODY STARTS ------------------------------- */
body{
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}

.grid{
    padding-left: 40px;
    padding-right: 40px;
    column-count: 7 ;
    column-gap: 10px;
    row-gap: 10px;
    row-gap: 0px;
    margin-top: 90px;
}

.item{
    position: relative;
    width: 250px;
    padding-bottom: 10px;
}

.item .top-image{
    border-radius: 20px;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 99;
}

.item .bottom-image{
    border-radius: 20px;
    width: inherit;
    height: inherit;
}

.item .save{
    display: inline-block;
    padding: 8px;
    border-radius: 30px;
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    color: whitesmoke;
    background-color: rgb(212, 16, 16);
    width: 40px;
    top: 10px;
    left: 180px;
}

.item .link{
    position: absolute;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    width: 100px;
    font-size: 20px;
    bottom: 20px;
    left: 8px;
}

.item .download{
    position: absolute;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 20px;
    right: 45px;
}

.item .download img{
    width: 20px;
    height: 25px;
    position: relative;
    left: 5px;
    top: 1px;
}

.item .dots{
    position: absolute;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    bottom: 20px;
    right: 10px;
}

.item .save:hover{
    cursor: pointer;
    background-color: rgb(168, 21, 21);
    transition: 200ms ease-in;
}

.item .dots:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: 200ms ease-in;
}

.item .download:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: 200ms ease-in;
}

.item .link:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: 200ms ease-in;
}

.item:hover .top-image{
    display: none;
    cursor: zoom-in;
}

.item:hover .bottom-image{
    cursor: zoom-in;
}

/* -------------------------- BODY ENDS ------------------------------- */